.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.frame .div {
  background-color: #ffffff;
  overflow: auto;
  width: 1600px;
  height: 850px;
  position: absolute;
  
}

.frame .overlap-group {
  position: absolute;
  width: 1600px;
  height: 850px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.frame .stay-productive-work {
  position: absolute;
  width: 596px;
  height: 164px;
  top: 284px;
  left: 199px;
  top: 280.71px;
	left: 200px;
	overflow: hidden;
  font-family: "Ramaraja-Regular", 'Times New Roman', Times, serif;
	font-size: 72px;
	text-align: left;
	line-height: 72px;
	letter-spacing: 1.10px;
	color:#1B0941;
}

.frame .the-key-to-work-from {
  position: absolute;
  width: 538px;
  top: 442px;
  left: 200px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
}

.frame .text-wrapper {
  position: absolute;
  top: 47px;
  left: 273px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1b0a42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 356px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1b0a42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 440px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1b0a42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 47px;
  left: 511px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1b0a42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  top: 47px;
  left: 1321px;
  font-weight: 400;
  color: #1b0a42;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .overlap {
  position: absolute;
  width: 152px;
  height: 64px;
  top: 589px;
  left: 200px;
  background-color: #4f55f1;
  border-radius: 6px;
}

.frame .button-wrapper-1 {
  position: absolute;
  width: 88px;
  top: 17px;
  left: 32px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 32px;
  white-space: nowrap;
}

.frame .div-wrapper {
  position: absolute;
  width: 120px;
  height: 60px;
  top: 30px;
  left: 1412px;
  background-color: #4f55f1;
  border-radius: 6px;
}

.frame .button-wrapper-2 {
  top: 17px;
  left: 31px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .img {
  position: absolute;
  width: 653px;
  height: 604px;
  top: 186px;
  left: 853px;
}

.frame .medi {
  position: absolute;
  width: 90px;
  height: 33px;
  top: 38px;
  left: 150px;
}
